
.loginBox {
    width: 600px;
    height: 600px;
    margin: 30px auto 30px auto;
    /*border: 3px solid black;*/
    /*border-radius: 20px;*/
}

.idpw {
    width: 300px;
    margin: 30px auto 0px auto;
}

.loginSign {
    text-align: center;
}

.loginBtn {
    display: inline-block;
    /*margin-left: 120px;*/
}

.signUp {
    display: inline-block;
}

.loginpw-font {
    font-family: 'Black Han Sans', sans-serif;
}

::placeholder {
    font-family: 'BMDOHYEON', "sans-serif";
}