@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: 'BMDOHYEON', "sans-serif";
}

.header {
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid black;
}

.logo {
  width: 270px;
  cursor: pointer;
}

.home-logo {
  font-size: 50px;
  color:red;
}

.intro {
  font-size: 40px;
  padding: 30px 50px;

}

.login-btn {
  width: 80px;
  display: block;
  position: absolute;
  right: 140px;
  background-color: aqua;
  cursor: pointer;
}

.posting-btn {
  width: 80px;
  display: block;
  position: absolute;
  right: 50px;
  background-color: aqua;
  cursor: pointer;
}

.buckets{
  margin: 50px;
}

.bucket-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1;
}

.bucket-modal-content {
  width: 700px;
  height: 600px;
  background-color: white;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

