<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">

    <!-- CSS style -->
    <link href="{{ url_for('static', filename='css/mainpage.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/posts.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/posts.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/register.js') }}"></script>

    {% if title %}
        <title>Show Your Bucket!-{{ title }}</title>
    {% else %}
        <title>Show Your Bucket!</title>
    {% endif %}
</head>
<body>
    <div class="header">
        <img onclick="window.location.href='/'" class="logo" src="../static/img/logo.png">
    </div>
    {% block index %}{% endblock %}
    {% block register %}{% endblock %}
    {% block login %}{% endblock %}
    {% block posts %}{% endblock %}
    <footer class="footer">
        <p>© 2022 SpartaCodingClub Hanghae99 5기 A반 5조</p>
    </footer>
</body>
</html>



