{% extends 'base_temp.html' %}
{% block index %}

    <div class="intro">
        시간이 없는 거지, 하고 싶은 게 없는 건 아니잖아요?
    </div>
    <div class="main-btns">
        {% if state == 'login' %}
            <button type="button" class="login-btn" onclick="logout()">로그아웃</button>
        {% else %}
            <button type="button" class="login-btn" onclick="window.location.href='/login'">로그인</button>
        {% endif %}
        <button type="button" class="posting-btn" onclick="mp_posting()">작성하기</button>
    </div>
    <div id="buckets-box" class="card-columns buckets">
    </div>

    <!--버켓 보기 디테일-->
    <div id="bucket-modal" class="bucket-modal" onclick=$("#bucket-modal").hide()>
        <div id="bucket-modal-contents" class="bucket-modal-contents">
            <!--                <img class="card-img-top"-->
            <!--                     src="../static/${file}"-->
            <!--                     alt="Card image cap">-->
            <!--                <div class="card-body">-->
            <!--                    <p>${title}</p>-->
            <!--                    <p class="card-text">${desc}</p>-->
            <!--                </div>-->
        </div>
    </div>
    </div>
    <script type="text/javascript">
        let logoutUser = false;
        let timeoutHnd = null;
        let logouTimeInterval = 300 * 1000; // here u can increase session time
        function onuser_activite() {
            if (logoutUser) {
                ;
            } else {
                ResetLogOutTimer();
            }
        }

        function OnTimeoutReached() {
            logoutUser = true;
            document.cookie = "mytoken= ; expires = Thu, 01 Jan 1970 00:00:00 GMT";
            alert("자동 로그아웃 되셨습니다!");
            window.location.href = '/';
        }

        function ResetLogOutTimer() {
            clearTimeout(timeoutHnd);
            // set new timer
            timeoutHnd = setTimeout('OnTimeoutReached();', logouTimeInterval);
        }

        if (document.cookie) {
            onuser_activite();
            // timeoutHnd = setTimeout('OnTimeoutReached();', logouTimeInterval);
        } else {
            ;
        }
        // document.body.onclick = onuser_activite;
        // timeoutHnd = setTimeout('OnTimeoutReached();', logouTimeInterval);

    </script>
{% endblock %}

