<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <link href="{{ url_for('static', filename='css/mainpage.css') }}" rel="stylesheet">

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <title>Show Your Bucket!</title>

    <script>
        $(document).ready(function () {
            showbuckets();
        });
        function showbuckets() {
                $.ajax({
                    type: "GET",
                    url: "/main",
                    data: {},
                    success: function (response) {
                        let buckets = response['all_buckets']
                        for (let i = 0; i < buckets.length; i++) {
                            let title = buckets[i]['title']
                            let img = buckets[i]['img']
                            let desc = buckets[i]['desc']
                            let temp_html=`<div class="card">
                                                <img class="card-img-top"
                                                     src="${img}"
                                                     alt="Card image cap">
                                                <div class="card-body">
                                                    <a href="#" onclick="detailPopup()" class="card-title">${title}</a>
                                                    <p class="card-text">${desc}</p>
                                                </div>
                                            </div>`
                            $('#posts-box').append(temp_html)
                        }
                    }
                })
            }
    </script>
</head>
<body>
    <div class="header">
        <a class="home-logo" href="/">Show Your Bucket
        </a>
    </div>
    <div class="intro">
        올해는 진짜 해봐야죠!
    </div>
    <div class="'main-btns">
        <button type="button" class="login-btn" onclick="window.location.href='/login'">로그인</button>
        <button type="button" class="posting-btn" onclick="window.location.href='/posting'">작성하기</button>
    </div>
    <div id="posts-box" class="posts-column">
    </div>

    <a href="#" onclick=$("#bucket-box").show();>title</a>

<!--버켓 보기 디테일-->
    <div id="bucket-box" class="bucket-desc">
        <div class="bucket-desc-content">
            <div class="close" onclick=$("#bucket-box").hide().window.location.reload()>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <img class="card-img-top"
                 src="${img}"
                 alt="Card image cap">
            <div class="card-body">
                <p>${title}</p>
                <p class="card-text">${desc}</p>
            </div>
        </div>
    </div>



</body>
</html>



