{% extends 'base_temp.html' %}
{% block login %}
    <div class="loginBox">
        <img src="../static/img/loginimg.jpg" class="card-img-top">
        <div class="idpw">
            <div class="input-group mb-3 id">
                <span class="input-group-text">아이디</span>
                <input type="text" class="form-control" placeholder="아이디를 입력해주세요." aria-label="Username"
                       aria-describedby="basic-addon1" id="loginId">
            </div>
            <div class="input-group mb-3 pw">
                <span class="input-group-text">비밀번호</span>
                <input type="password" class="form-control loginpw-font" placeholder="비밀번호를 입력해주세요."
                       aria-label="Username"
                       aria-describedby="basic-addon1" id="loginPw">
            </div>
        </div>
        <div class="loginSign">
            <button type="button" class="btn btn-outline-secondary signUp" onclick="location.href='/register'">회원가입
            </button>
            <button type="button" class="btn btn-outline-secondary loginBtn" onclick="loginClick()">로그인 하기</button>
        </div>
    </div>
{% endblock %}